{% extends "::simple.html.twig" %}

{% block stylesheets %}
<style>
		
	div p{
    	text-align: justify;
    	font-size: 10pt;
    }
    h1{
		text-align: center;
	}
	
	h2{
		text-align: center;
	}
	
	h3{
		text-align: center;
	}
	
	h4{
		text-align: center;
	}
	
	table.paciente {
    	font-size: 9pt;
        border-bottom: 2px solid #000;
        margin-top: 2%;
    }
</style>  
{% endblock %}

{% block head %}
	<table class="paciente">
		<tr>
			<td colspan="5"><br /><br /></td>
		</tr>
		<tr>
			<td width="130" align="center"><b>{{ paciente.tipoid }} - {{ paciente.identificacion }}</b></td>
		  	<td width="200" align="center"><b>{{ paciente.prinombre|capitalize }} {{ paciente.segnombre|capitalize }} {{ paciente.priapellido|capitalize }} {{ paciente.segapellido|capitalize }}</b></td>
		  	<td width="70" align="center"><b>{{ date('now') | date('Y-m-d') - paciente.fn | date('Y-m-d') }} Años</b></td>
		  	<td width="180" align="center"> <b>{{ cliente.nombre }}</b></td>
		  	<td width="90" align="center"><b>{{ fecha | date('d-m-y') }}</b></td>
	 	</tr>
	 </table>
{% endblock %}

{% block body %}
<div>
<h1>CLAUSULAS PARA INGRESAR A LA SESION DE LASER</h1>

<p>
NO SE REASIGNARAN CITAS Y SE PERDERAN DEL PAQUETE  CUANDO:   
  <ul>
    <li>El paciente viene con alguna de las zonas a tratar bronceadas.</li>
    <li>La cita esta confirmada  y el paciente no asiste.</li>
  </ul>
</p>
<p>
LA CITA SERA APLAZADA:
  <ul>
    <li>Siempre y cuando se avise con dos dí­as de anticipación.</li>
    <li>Cuando el paciente este en su periodo de menstruación.</li>
  </ul>
</p>

<p>NOTA: Si el paciente cancela la cita este estará¡ pendiente de su asignación y deberá llamar a reprogramarla.</p>
<p>Si por algún motivo Dermolaser cancela la cita la clí­nica será responsable de reasignarle otra, esta no se perderá¡.</p>

<p>	Firma;<br/><br/><br/>
	
	
	______________________________________<br/>
	PACIENTE:	<strong>{{ paciente.priNombre }} {{ paciente.segNombre }} {{ paciente.priApellido }} {{ paciente.segApellido }}</strong> <br/>
	C.C.	<strong>{{ paciente.identificacion }}</strong> <br/>
	Fecha: <strong> {{ fecha|date('d/m/Y') }}</strong>
</p>
</div>
{% endblock %}