{% extends "::simple.html.twig" %}

{% block stylesheets %}
<style>
	h1{
		text-align: center;
               
	}
	
        p {
        
        font-size: 10pt;
        }
	
	table.paciente {
    	font-size: 9pt;
        border-bottom: 2px solid #000;
        margin-top: 2%;
       }
       
       table.estetica{
       
       font-size: 10pt;
       }
</style>    
{% endblock %}

{% block head %}
<div>
	<table class="paciente">
		<tr>
			<td colspan="5"><br /><br /></td>
		</tr>
		<tr>
			<td width="130" align="center"><b>{{ paciente.tipoid }} - {{ paciente.identificacion }}</b></td>
		  	<td width="200" align="center"><b>{{ paciente.prinombre|capitalize }} {{ paciente.segnombre|capitalize }} {{ paciente.priapellido|capitalize }} {{ paciente.segapellido|capitalize }}</b></td>
		  	<td width="70" align="center"><b>{{ date('now') | date('Y-m-d') - paciente.fn | date('Y-m-d') }} Años</b></td>
		  	<td width="180" align="center"> <b>{{ cliente.nombre }}</b></td>
		  	<td width="90" align="center"><b>{{ entity.fecha | date('d-m-y') }}</b></td>
	 	</tr>
	 </table>
</div>
{% endblock %}


{% block body %}
<h1>Historia Estetica</h1>
<div>
{% if entity %}
<table border="1" cellpadding="1" cellspacing="0" class="estetica">
	<thead>
		<tr style="background-color:#CCC;color:#000000;">
			<th colspan="2"><strong>Edad </strong></th>			
			<th colspan="3"><strong>Piel </strong></th>
			<th><strong>Nutrición</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Cronológica: {{ entity.edadCrono }}</td>
			<td>Aparente: {{ entity.edadAparente }}</td>
			<td>Color: {{ entity.pielColor }}</td>
			<td>Cutis: {{ entity.pielCutis }}</td>
			<td>Tacto: {{ entity.pielTacto }}</td>
			<td>{{ entity.nutricion }}</td>
		</tr>
	</tbody>
</table>
{% endif %}
</div>

{% set conOp=0 %} 
{% for op in entity.op %}
	{% set conOp = 1+conOp %}					
{% endfor %}


{% if entity.op %}

<table border="1" cellpadding="0" cellspacing="0" class="estetica">
		<thead>
			<tr style="background-color:#CCC;color:#000000; text-align:center">
				<th colspan="{{ conOp }}"><strong> ORIFICIOS PILOCEBACEOS</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for op in entity.op %}
					<td> {{ op|capitalize }}</td>
				{% endfor %}				
			</tr>
		</tbody>
	</table>
{% endif %}
	
{% if entity.pigmentacion %}

{% set con=0 %} 
{% for pig in entity.pigmentacion %}
	{% set con = 1+con %}					
{% endfor %}

	<table border="1" cellpadding="0" cellspacing="0" class="estetica">
		<thead>
			<tr style="background-color:#CCC;color:#000000; text-align:center">
				<th colspan="{{ con }}"><strong> PIGMENTACION</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for pig in entity.pigmentacion %}
					<td> {{ pig|capitalize }}</td>
				{% endfor %}				
			</tr>
		</tbody>
	</table>
{% endif %}

{% if entity.arrugas %}

{% set conArruga=0 %} 
{% for arrugas in entity.arrugas %}
	{% set conArruga = 1+conArruga %}					
{% endfor %}

	<table border="1" cellpadding="0" cellspacing="0" class="estetica">
		<thead>
			<tr style="background-color:#CCC;color:#000000; text-align:center">
				<th colspan="{{ conArruga }}"><strong> ARRUGAS</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for pig in entity.arrugas %}
					<td> {{ pig|capitalize }}</td>
				{% endfor %}				
			</tr>
		</tbody>
	</table>
{% endif %}

{% if entity.flacidez %}


{% set conFlacidez=0 %} 
{% for flacidez in entity.flacidez %}
	{% set conFlacidez = 1+conFlacidez %}					
{% endfor %}

	<table border="1" cellpadding="0" cellspacing="0" class="estetica">
		<thead>
			<tr style="background-color:#CCC;color:#000000; text-align:center">
				<th colspan="{{ conFlacidez }}"><strong> FLACIDEZ</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for pig in entity.flacidez %}
					<td> {{ pig|capitalize }}</td>
				{% endfor %}				
			</tr>
		</tbody>
	</table>
{% endif %}

{% if entity.parpado %}


{% set conParpados=0 %} 
{% for parpado in entity.parpado %}
	{% set conParpados = 1+conParpados %}					
{% endfor %}

	<table border="1" cellpadding="0" cellspacing="0" class="estetica">
		<thead>
			<tr style="background-color:#CCC;color:#000000; text-align:center">
				<th colspan="{{ conParpados }}"><strong> PARPADOS</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for pig in entity.parpado %}
					<td> {{ pig|capitalize }}</td>
				{% endfor %}				
			</tr>
		</tbody>
	</table>
{% endif %}

{% if entity.lesionesCut %}


{% set conLesionesCut=0 %} 
{% for lesionesCut in entity.lesionesCut %}
	{% set conLesionesCut = 1+conLesionesCut %}					
{% endfor %}

	<table border="1" cellpadding="0" cellspacing="0" class="estetica">
		<thead>
			<tr style="background-color:#CCC;color:#000000; text-align:center">
				<th colspan="{{ conLesionesCut }}"><strong> LESIONES CUT</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for pig in entity.lesionesCut %}
					<td> {{ pig|capitalize }}</td>
				{% endfor %}				
			</tr>
		</tbody>
	</table>
{% endif %}

{% if entity.lipodistrofia %}


{% set conLipodistrofia=0 %} 
{% for lipodistrofia in entity.lipodistrofia %}
	{% set conLipodistrofia = 1+conLipodistrofia %}					
{% endfor %}

	<table border="1" cellpadding="0" cellspacing="0" class="estetica">
		<thead>
			<tr style="background-color:#CCC;color:#000000; text-align:center">
				<th colspan="{{ conLipodistrofia }}"><strong> LIPODISTROFIA</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for pig in entity.lipodistrofia %}
					<td> {{ pig|capitalize }}</td>
				{% endfor %}				
			</tr>
		</tbody>
	</table>
{% endif %}

{% if entity.tatuaje %}


{% set conTatuaje=0 %} 
{% for tatuaje in entity.tatuaje %}
	{% set conTatuaje = 1+conTatuaje %}					
{% endfor %}

	<table border="1" cellpadding="0" cellspacing="0" class="estetica">
		<thead>
			<tr style="background-color:#CCC;color:#000000; text-align:center">
				<th colspan="{{ conTatuaje }}"><strong> TATUAJE</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for pig in entity.tatuaje %}
					<td> {{ pig|capitalize }}</td>
				{% endfor %}				
			</tr>
		</tbody>
	</table>
{% endif %}

{% if entity.cicatrizes %}


{% set conCicatrizes=0 %} 
{% for cicatrizes in entity.cicatrizes %}
	{% set conCicatrizes = 1+conCicatrizes %}					
{% endfor %}


	<table border="1" cellpadding="0" cellspacing="0" class="estetica">
		<thead>
			<tr style="background-color:#CCC;color:#000000; text-align:center">
				<th colspan="{{ conCicatrizes }}"><strong> CICATRIZES</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for pig in entity.cicatrizes %}
					<td> {{ pig|capitalize }}</td>
				{% endfor %}				
			</tr>
		</tbody>
	</table>
{% endif %}

{% if entity.estrias %}

{% set conEstrias=0 %} 
{% for estrias in entity.estrias %}
	{% set conEstrias = 1+conEstrias %}					
{% endfor %}


	<table border="1" cellpadding="0" cellspacing="0" class="estetica">
		<thead>
			<tr style="background-color:#CCC;color:#000000; text-align:center">
				<th colspan="{{ conEstrias }}"><strong> ESTRIAS</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for pig in entity.estrias %}
					<td> {{ pig|capitalize }}</td>
				{% endfor %}				
			</tr>
		</tbody>
	</table>
{% endif %}

<p><b>~Mediciones</b><p>
    <table border="1" cellpadding="0" cellspacing="0" class="estetica">
        <thead>
		<tr style="background-color:#CCC;color:#000000;">
			<th><strong>Peso </strong></th>			
			<th><strong>Talla </strong></th>
			<th><strong>PGC</strong></th>
			<th><strong>PGV</strong></th>
			<th><strong>P.M</strong></th>
                        <th><strong>IMC</strong></th>
			<th><strong>Cintura</strong></th>
			<th><strong>ABS</strong></th>
			<th><strong>Ombligo</strong></th>
			<th><strong>ABI</strong></th>
			<th><strong>Piernas</strong></th>

		</tr>
	</thead>
	<tbody>
		<tr>
                    <td>{{ entity.peso }} <b>KG</b></td>
                    <td>{{ entity.estatura }} <b>CM</b></td>
			<td>{{ entity.pesogcorporal }}</td>
			<td>{{ entity.porcentajegv }}</td>
			<td>{{ entity.pm }}</td>
			<td>
			{% if(entity.peso and entity.estatura) %}
				{{ (entity.peso/((entity.estatura/100)*(entity.estatura/100)))|number_format(2) }} &nbsp;&nbsp;
			{% endif %}</td>
			<td>{{ entity.cintura }}</td>
			<td>{{ entity.abs }}</td>
                        <td>{{ entity.ombligo }}</td>
                        <td>{{ entity.abi }}</td>
                        <td>{{ entity.piernas }}</td>
                   
		</tr>
	</tbody>
    </table>        

<p><b>~ Fitzpatrick:</b> {{ entity.fitzpatrick }}<br/>
   <b>~ Info Fitzpatrick:</b> {{ entity.infoFitzpatrick }}<br/>
   <b>~ Medicacion:</b> {{ entity.medicacion }}<br/>
   <b>~ Dx_Cutaneo:</b> {{ entity.dxcut }}<br/>
   <b>~ Notas:</b> {{entity.notas}}
</p>


<p><table>{% include "HcBundle:includes:footer.html.twig" %}</table></p>	




{% endblock %}