{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Editar informacion de la historia de estetica  {% endblock %}

{% block msg %}
	{% if app.session.flash('ok') %}
	    <div class="success mensajes">
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.flash('info') %}
		<div class="info">
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.flash('error') %}
		<div class="error">
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
	<link href="{{ asset('bundles/dlaser/css/jquery-ui.custom.css') }}" rel="stylesheet" type="text/css" />	
	 
{% endblock %}

{% block cuerpo %}

<style>
	#clr div{
	    cursor:pointer;
	    width:20px;
	    height:20px;
	    float:left;
	}
</style>


	<table>
		<thead>
			<tr>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Cedula</th>
				<th>Aseguradora</th>
				<th>Edad</th>
			</tr>
		</thead>
        <tbody>
            <tr>                
                <td>{{ factura.paciente.priNombre | capitalize }} {{ factura.paciente.segNombre | capitalize }}</td>                
                <td>{{ factura.paciente.priApellido | capitalize }} {{ factura.paciente.segApellido | capitalize }}</td>
                <td>{{ factura.paciente.identificacion }}</td>
                <td>{{ factura.cliente.nombre }}</td>
                <td>{{ date('now') | date('Y-m-d') - factura.paciente.fn | date('Y-m-d') }} Años</td>               
            </tr>            
        </tbody>
    </table>
    
<form  method="post" {{ form_enctype(form) }} id="estetica" action="{{ path('HcEstetica_update', { 'estetica': entity.id }) }}" >
    <fieldset>
    	<legend>Datos de la estetica</legend>
    	
    	<div style="display: none;">
    		{{ form_label(form.fecha) }}
			{{ form_errors(form.fecha) }}
			{{ form_widget(form.fecha) }}
		</div>
		
		<div class="grid_7">
			<div>
	    		{{ form_label(form.edad_crono) }}
				{{ form_errors(form.edad_crono) }}
				{{ form_widget(form.edad_crono) }}
			</div>
		</div>
		
    	<div class="grid_7">		
			<div>
	    		{{ form_label(form.edad_aparente) }}
				{{ form_errors(form.edad_aparente) }}
				{{ form_widget(form.edad_aparente) }}
			</div>
		</div>
		
		<div class="clear"></div>
		
		<div class="grid_7">
			<div>
	    		{{ form_label(form.piel_color) }}
				{{ form_errors(form.piel_color) }}
				{{ form_widget(form.piel_color) }}
			</div>
		</div>
		
		<div class="grid_7">
			<div>
	    		{{ form_label(form.piel_cutis) }}
				{{ form_errors(form.piel_cutis) }}
				{{ form_widget(form.piel_cutis) }}
			</div>
		</div>
		
		<div class="clear"></div>
		
		<div class="grid_7">
			<div>
	    		{{ form_label(form.piel_tacto) }}
				{{ form_errors(form.piel_tacto) }}
				{{ form_widget(form.piel_tacto) }}
			</div>
		</div>
		
		
		
		<div class="clear"></div>
		
		<div class="grid_7">
			<div>
	    		{{ form_label(form.nutricion) }}
				{{ form_errors(form.nutricion) }}
				{{ form_widget(form.nutricion) }}
			</div>
		</div>
		
		
		<div class="clear"></div>
    	
    	<div id="check_item">
    		
    		<h3>Parpados</h3>
			<div>
				{{ form_errors(form.parpado) }}
				{{ form_widget(form.parpado) }}
			</div>
			
			<h3>Arrugas</h3>
			<div>
				{{ form_errors(form.arrugas) }}
				{{ form_widget(form.arrugas) }}
			</div>
			
			<h3>Lesiones cut&aacute;neas</h3>
			<div>
				{{ form_errors(form.lesiones_cut) }}
				{{ form_widget(form.lesiones_cut) }}
			</div>
			
			<h3>Flacidez</h3>
			<div>
				{{ form_errors(form.flacidez) }}
				{{ form_widget(form.flacidez) }}
			</div>
			
			<h3>Lipodistrofia</h3>
			<div>
				{{ form_errors(form.lipodistrofia) }}
				{{ form_widget(form.lipodistrofia) }}
			</div>
			
			<h3>Tatuajes</h3>
			<div>
				{{ form_errors(form.tatuaje) }}
				{{ form_widget(form.tatuaje) }}
			</div>
			
			<h3>Cicatrizes</h3>
			<div>
				{{ form_errors(form.cicatrizes) }}
				{{ form_widget(form.cicatrizes) }}
			</div>
			
			<h3>Estrias</h3>
			<div>
				{{ form_errors(form.estrias) }}
				{{ form_widget(form.estrias) }}
			</div>
    		
    		<h3>Orificios pilosevaceos</h3>
    		<div>	    		
				{{ form_errors(form.op) }}
				{{ form_widget(form.op) }}
			</div>
			
			<h3>Pigmentaci&oacute;n</h3>
			<div>
				{{ form_errors(form.pigmentacion) }}
				{{ form_widget(form.pigmentacion) }}
			</div>	
    	</div>
    	
    	<div>
    		{{ form_label(form.medicacion) }}
			{{ form_errors(form.medicacion) }}
			{{ form_widget(form.medicacion) }}
		</div>
		
		<div>
    		{{ form_label(form.dx_cut) }}
			{{ form_errors(form.dx_cut) }}
			{{ form_widget(form.dx_cut) }}
		</div>
		
		<fieldset>
    		<legend>Escala de Fitzpatrick</legend>
    		
    		<div>
	    		{{ form_label(form.fitzpatrick) }}
				{{ form_errors(form.fitzpatrick) }}
				{{ form_widget(form.fitzpatrick) }}
			</div>
			
			<div>
	    		{{ form_label(form.infoFitzpatrick) }}
				{{ form_errors(form.infoFitzpatrick) }}
				{{ form_widget(form.infoFitzpatrick) }}
			</div>	
                </fieldset>
    	        <fieldset>
                    <legend>Mediciones</legend>    
                    
                <div class="grid_7">
    		{{ form_label(form.peso) }}
			{{ form_errors(form.peso) }}
			{{ form_widget(form.peso) }}
		</div>
		
		<div class="grid_7">
			<div>
	    		{{ form_label(form.estatura) }}
				{{ form_errors(form.estatura) }}
				{{ form_widget(form.estatura) }}
			</div>
		</div>
                
                <div class="grid_7">
    		{{ form_label(form.pesogcorporal) }}
			{{ form_errors(form.pesogcorporal) }}
			{{ form_widget(form.pesogcorporal) }}
		</div>
		
		<div class="grid_7">
			<div>
	    		{{ form_label(form.porcentajegv) }}
				{{ form_errors(form.porcentajegv) }}
				{{ form_widget(form.porcentajegv) }}
			</div>
		</div>
                
                
                <div class="grid_7">
    		{{ form_label(form.pm) }}
			{{ form_errors(form.pm) }}
			{{ form_widget(form.pm) }}
		</div>
		
		<div class="grid_7">
			<div>
	    		{{ form_label(form.imc) }}
				{{ form_errors(form.imc) }}
				{{ form_widget(form.imc) }}
			</div>
		</div>
                
                
                 <div class="grid_7">
    		{{ form_label(form.abs) }}
			{{ form_errors(form.abs) }}
			{{ form_widget(form.abs) }}
		</div>
		
		<div class="grid_7">
			<div>
	    		{{ form_label(form.cintura) }}
				{{ form_errors(form.cintura) }}
				{{ form_widget(form.cintura) }}
			</div>
		</div>
                
                <div class="grid_7">
    		{{ form_label(form.ombligo) }}
			{{ form_errors(form.ombligo) }}
			{{ form_widget(form.ombligo) }}
		</div>
		
		<div class="grid_7">
			<div>
	    		{{ form_label(form.abi) }}
				{{ form_errors(form.abi) }}
				{{ form_widget(form.abi) }}
			</div>
		</div>
                
                <div class="grid_7">
			<div>
	    		{{ form_label(form.piernas) }}
				{{ form_errors(form.piernas) }}
				{{ form_widget(form.piernas) }}
			</div>
                        <a id="ver-mediciones" title="Ver Mediciones">Ver mediciones</a> 
		</div>
    
                   
	    <div>
    		{{ form_label(form.notas) }}
			{{ form_errors(form.notas) }}
			{{ form_widget(form.notas) }}
		</div>
    	{{ form_rest(form) }}
    	
    </fieldset>
</form>

    
<a href="{{ path('HcEstetica_impresa', {'hcEstetica': entity.id}) }}" class="button left" target="blank"><span class="label">Imprimir</span></a>

{% endblock %}

{% block javascripts %}

<script src="{{ asset('bundles/dlaser/js/jquery-ui-1.8.23.custom.min.js') }}"></script>

<script type="text/javascript">
$(function() {
        $( "#cuadro-mediciones" ).dialog({
            autoOpen: false,
            height: 230,
	    width: 450,
            show: "blind",
            hide: "explode"
        });
 
        $( "#ver-mediciones" ).button().click(function() {
            $( "#cuadro-mediciones" ).dialog( "open" );
            return false;
        });
    });
		 
$(function() {
        $( "#check_item" ).accordion({
            collapsible: true
		 	});
            });
		 
</script>
{% endblock %}
