{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Listado de los diagnosticos Admin{% endblock %}

{% block msg %}
	{% if app.session.flash('ok') %}
	    <div class="success mensajes">
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.flash('info') %}
		<div class="info">
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.flash('error') %}
		<div class="error">
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}




{% block cuerpo %}

<form action="{{ path('dx_search') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    	<legend>Busqueda</legend>
    	{{ form_widget(form) }}
    </fieldset>
    
    <button class="action blue" type="submit">
        <span class="label">Buscar</span>
    </button>
    <a href="{{ path('dx_list') }}" class="button left"><span class="label">Listar todo</span></a>
            
</form><br/><br/><br/>


    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>                                               
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('dx_edit', {'id':entity.id}) }}">{{ loop.index }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.codigo }}</td>                
            </tr>
        {% endfor %}
        </tbody>
    </table>    
    <a href="{{ path('dx_userDx') }}" class="button left"><span class="label">Nuevo diagnostico</span></a>
    
    {% if entities %}
	{{ simple_paginator_render('dx_list', null) }}
    {% endif %}
{% endblock %}
