{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Relacion de los diagnosticos{% endblock %}

{% block msg %}
	{% if app.session.flash('ok') %}
	    <div class="success mensajes">
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.flash('info') %}
		<div class="info">
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.flash('error') %}
		<div class="error">
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}




{% block cuerpo %}

<table class="">
     <tr> 
     <td colspan="2">Agrege los diagnosticos:</td>
       <td colspan="2">
	      <select id="asignar">
	      <option>Seleccione el diagnostico</option>
	       {% for campo in cies %} 
	         <option value="{{ campo.id }}" data-url="{{ path('dx_saveUserDx', { 'usuario': entity.id, 'cie': campo.id }) }}"> 
	           {{ campo.nombre }} - {{ campo.codigo }}        
	          </option>
	       {% endfor %}       
	      </select>
      </td>     
     </tr>
</table>
      
      <br/><h4>Relacion entre usuarios y diagnosticos</h4>
      
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>                
                <th>Opcion</th>                
            </tr>
        </thead>
        <tbody>
     
{% for permiso in permisos %}            
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('dx_edit', {'id':permiso.id}) }}">{{ permiso.nombre }}</a></td>
                <td>{{ permiso.codigo }}</td>
                <td>               
    			<a><a href="{{ path('dx_deleteUserDx',{'usuario':entity.id,'cie':permiso.id}) }}" class="button left"><span class="label">Quitar</span></a>
    			</td>
            </tr>
        {% endfor %} 
       

      </tbody>
    </table>
    
    {% if permisos %}
	{{ simple_paginator_render('dx_userDx', null) }}
    {% endif %}
    
   <script type="text/javascript">
   		 var lista = document.getElementById('asignar');
   		    		
    	 lista.onchange = function() {
        	var url = lista.options[lista.selectedIndex].getAttribute('data-url');
       	 	window.location = url;
    	  };
   </script>    
    
{% endblock %}
    
        