{% extends "::simple.html.twig" %}

{% block stylesheets %}
<style>
		
	table.cliente {
    	font-size: 7pt;
    }
    
    table.descripcion {
    	font-size: 7pt;
        
    }
    
    table.valores{
    	font-size:7pt;
    }
</style>     
{% endblock %}


{% block body %}

 	<table border="1" CELLPADDING="4" class="cliente">
 		<tbody>
            <tr>
            	<td width="15%"><strong>FECHA:</strong></td>                
            	<td width="35%">{{ entity.fecha|date('d-m-Y') }}</td>
            	<td width="13%"><strong>CEDULA O NIT:</strong></td>                
            	<td width="17%">{{ entity.paciente.tipoId }} - {{ entity.paciente.identificacion }}</td>
            	<td width="20%">
            	<strong>RECIBO DE CAJA No.</strong>.
            	</td>            	
            </tr>
            <tr>
            	<td width="15%"><strong>NOMBRE:</strong></td>
            	<td width="35%">{{ entity.paciente.priNombre }} {{ entity.paciente.segNombre }} {{ entity.paciente.priApellido }} {{ entity.paciente.segApellido }}</td>                
            	<td width="13%"><strong>F. NACIMIENTO:</strong></td>                
            	<td width="17%">{{ entity.paciente.fN | date('d-m-Y') }}</td>
            	<td width="20%" rowspan="2" align="center"><br /><br />{{ entity.id }}</td>            	            	
            </tr>
            <tr>
            	<td width="15%"><strong>DIRECIÓN:</strong></td>
            	<td width="35%">{{ entity.paciente.direccion }}</td>
            	<td width="13%"><strong>TELÉFONO:</strong></td>                
            	<td width="17%">
            		{% if entity.paciente.telefono %}
            			{{ entity.paciente.telefono }}
            		{% else %}
            			{{ entity.paciente.movil }}
            		{% endif %}
            	</td>
            </tr>
            <tr>
            	<td width="15%"><strong>ENTIDAD:</strong></td>
            	<td width="35%">{{ entity.cliente.razon }}</td>                
            	<td width="13%"><strong>TIPO:</strong></td>                
            	<td width="17%">
					{% if entity.paciente.tipoAfi == 'C' %}
            			COTIZANTE
            		{% else %}
            			BENEFICIARIO
            		{% endif %}
            	</td>
            	<td width="20%"><strong>RANGO:   </strong>{{ entity.paciente.rango }}</td>            	            	
            </tr>
        </tbody>             
	</table>
	
	<br />

	<table border="1" CELLPADDING="5" class="descripcion">
 		<tbody>
            <tr>
            	<td width="10%" align="center"><strong>CANTIDAD</strong></td>  
            	<td width="70%" align="center"><strong>CONCEPTO</strong></td>
            	<td width="20%" align="center"><strong>VALOR</strong></td>            	              
            </tr>
            <tr>           
            	<td width="10%" align="center"><br /><br />1</td> 
            	<td width="70%" height="120">
            		<br /><br />{{ entity.cargo.nombre }}
            		{% if entity.observacion %}
            			<br /><br /><br /><br />Observación: {{ entity.observacion }}
            		{% endif %}
            	</td>
            	<td width="20%" align="center"><br /><br />${{ entity.valor|number_format(0) }}</td>                
            </tr>
        </tbody>             
	</table>

	<table border="1" CELLPADDING="5" class="valores">
 		<tbody>
            <tr>
            	<td width="30%" height="60">Recibi Conforme:</td>
            	<td width="30%" height="60">Entrega:</td>                
            	<td width="20%" align="center" height="60">Copago<br /><br />Valor Total</td>
            	<td width="20%" align="center" height="60">${{ entity.copago }}<br /><br />${{ ((entity.valor - entity.copago)-entity.descuento)|number_format(0) }}</td>                
            </tr>                    	       
        </tbody>             
	</table>

	<table border="1" CELLPADDING="5" class="valores">
 		<tbody>
            <tr>
            	<td width="100%" height="10">RECIBO IMPRESO POR COMPUTADOR (Art. 617 E.T. y Decreto 1165/96 Art. 13)
El(los) comprador(es) la firman en señal de aceptación y de haber recibido real y materialmente la mercancía y/o el servicio.
</td>
            </tr>                    	       
        </tbody>             
	</table>
	
{% endblock %}