{% extends "::simple.html.twig" %}

{% block stylesheets %}
<style>
	h1{
		text-align: center;
	}
	
	h2{
		text-align: center;
	}
	
	h3{
		text-align: center;
	}
	
	h4{
		text-align: center;
	}
	
	table.paciente {
    	font-size: 9pt;
        border-bottom: 2px solid #000;
        margin-top: 2%;
    }
</style>    
{% endblock %}

{% block patient %}
	<table class="paciente">
		<tr>
			<td colspan="5"><br /><br /></td>
		</tr>
		<tr>
			<td width="130" align="center"><b>{{ paciente.tipoid }} - {{ paciente.identificacion }}</b></td>
		  	<td width="200" align="center"><b>{{ paciente.prinombre }} {{ paciente.segnombre }} {{ paciente.priapellido }} {{ paciente.segapellido }}</b></td>
		  	<td width="70" align="center"><b>{{ date('now') | date('Y-m-d') - paciente.fn | date('Y-m-d') }} Años</b></td>
		  	<td width="180" align="center"> <b>{{ cliente.nombre }}</b></td>
		  	<td width="90" align="center"><b>{{ entity.fecha | date('d-m-y') }}</b></td>
	 	</tr>
	 </table>
{% endblock %}


{% block space %}
	<h1>Formato de medicamento NO POS</h1>
{% endblock %}

{% block body %}
	<table border="1">
	  <tr>
	  	<th bgcolor="#cccccc" colspan="2" align="center">DIAGNOSTICO</th>
	  </tr>
	  <tr>
	    <th width="150" align="center">Código CIE-10</th>
	    <th width="545" align="center">Descripción del diagnostico</th>
	  </tr>
	  <tr>
	    <td width="150" align="center">{{ entity.cie.codigo }}</td>
	    <td width="545">{{ entity.cie.nombre }}</td>
	  </tr>
	</table>
	
	<div><br />&nbsp;<br />&nbsp;</div>
	
	<table border="1">
	  <tr>
	  	<th bgcolor="#cccccc">RESUMEN DE LA HISTORIA CLINICA</th>
	  </tr>
	  <tr>
	    <td height="60">{{ entity.resumenHc }}</td>
	  </tr>
	</table>
	
	<div><br />&nbsp;</div>
	
	<table border="1">
	  <tr>
	  	<th bgcolor="#cccccc" colspan="5" align="center">ALTERNATIVAS POS UTILIZADAS</th>
	  </tr>
	  <tr>
	    <th width="285" align="center">Medicamento POS utilizado</th>
	    <th width="80" align="center">Dosis/día</th>
	    <th width="120" align="center">Dias tratamiento</th>
	    <th width="120" align="center">Cantidad por mes</th>
	    <th width="90" align="center">Posologia</th>
	  </tr>
	  <tr>
	    <td width="285">{{ entity.posUtilizado }}</td>
	    <td width="80">{{ entity.posDosis }}</td>
	    <td width="120">{{ entity.posTiempo }}</td>
	    <td width="120">{{ (entity.posDosis * entity.posTiempo) }}</td>
	    <td width="90">{{ entity.posPosologia }}</td>
	  </tr>
	  <tr>
	  	<td bgcolor="#cccccc" colspan="5" align="center">RESPUESTA CLINICA Y PARACLINICA ALCANZADA CON EL MEDICAMENTO POS.</td>
	  </tr>
	  <tr>
	  	<td colspan="5" height="40">{{ entity.posRespuesta }}</td>
	  </tr>
	</table>
	
	<div></div>
	
	<table border="1">
	  <tr>
	  	<th bgcolor="#cccccc" colspan="6" align="center">MEDICAMENTO NO POS SOLICITADO</th>
	  </tr>
	  <tr>
	    <th align="center">Principio activo del medicamento</th>
	    <th align="center">Concentración</th>
	    <th align="center">Forma farmaceutica</th>
	    <th align="center">Dosis/día</th>
	    <th align="center">Unidad de tiempo</th>
	    <th align="center">Tiempo tratamiento</th>
	  </tr>
	  <tr>
	    <td>{{ entity.medicamento.principioActivo }}</td>
	    <td>{{ entity.medicamento.concentracion }}</td>
	    <td>{{ entity.medicamento.presentacion }}</td>
	    <td>{{ entity.medicamento.dosisDia }}</td>
	    <td>c/{{ entity.medicamento.tiempo }} Horas.</td>
	    <td>{{ entity.medicamento.diasTratamiento }}</td>
	  </tr>
	  <tr>
	  	<td bgcolor="#cccccc" colspan="6" align="center">JUSTIFICACIÓN DEL MEDICAMENTO SOLICITADO</td>
	  </tr>
	  <tr>
	  	<td colspan="6" height="40">{{ entity.noposNota }}</td>
	  </tr>
	  <tr>
	  	<td bgcolor="#cccccc" colspan="6" align="center">PRECAUCIONES, CONTRAINDICACIONES, EFECTOS SECUNDARIOS DEL MEDICAMENTO SOLICITADO</td>
	  </tr>
	  <tr>
	  	<td colspan="6" height="40">{{ entity.noposEfectos }}</td>
	  </tr>
	</table>
	
	<div><br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;</div>
	
	<table>
		<tbody>
			<tr>
				<td>_____________________________</td>
				<td>___________________</td>
			</tr>
			<tr>
				<td>FIRMA Y SELLO DEL MEDICO</td>
				<td>REGISTRO MEDICO</td>
			</tr>
		</tbody>
	</table>
	
	<tcpdf method="AddPage" />	
	
	<table class="paciente">
		<tr>
			<td colspan="5"><br /><br /><br /></td>
		</tr>
		<tr>
			<td width="130" align="center"><b>{{ paciente.tipoid }} - {{ paciente.identificacion }}</b></td>
		  	<td width="200" align="center"><b>{{ paciente.prinombre }} {{ paciente.segnombre }} {{ paciente.priapellido }} {{ paciente.segapellido }}</b></td>
		  	<td width="70" align="center"><b>{{ date('now') | date('Y-m-d') - paciente.fn | date('Y-m-d') }} Años</b></td>
		  	<td width="180" align="center"> <b>{{ cliente.nombre }}</b></td>
		  	<td width="90" align="center"><b>{{ entity.fecha | date('d-m-y') }}</b></td>
	 	</tr>
	 </table>

	<table>
		<tr>
			<td height="290">
			    
			    <h1>FORMULA MÉDICA</h1>
			    
			    <br /><br /><br /><br />
			    
			    <ul>            
			    	<li>{{ entity.medicamento.principioActivo }} {{ entity.medicamento.presentacion }} {{ entity.medicamento.concentracion }} tomar {{ entity.medicamento.dosisDia }} cada {{ entity.medicamento.tiempo }} horas por {{ entity.medicamento.diasTratamiento }} dias # {{ ((24 / entity.medicamento.tiempo) * (entity.medicamento.dosisDia * entity.medicamento.diasTratamiento)) }}</li>			        	
				</ul>
			
				<br /><br /><br /><br />
			
				<b>Documento con firma digital de:</b> Dr. Oscar narvaez moreno - Cardiólogo Internista - Reg. 1623488. (Certifirma).
			</td>
		</tr>
		
		{% include "HcBundle:includes:footer.html.twig" %}

	</table>

{% endblock %}