{% extends "HcBundle::ajax.layout.html.twig" %}

{% block cuerpo %}
    <table id="table_overlay">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>               
                <th>Pos Utilizado</th>
                <th>Pos Dosis</th>
                <th>Pos Tiempo</th>
                <th>Pos Posologia</th>                
                <th>Pos Respuesta</th>
                <th>NoPos Nota</th>
                <th>NoPos Efectos</th>         
            </tr>
        </thead>
        <tbody>
     
	{% for entities in entity %}            
            <tr>
                <td>{{ entities.fecha|date('d/m/y') }}</td>
                <td><a href="{{ path('ctc_edit', {'id':entities.id}) }}">{{ entities.principioActivo }}</a></td>
                <td>{{ entities.nombre }}</td>                
                <td>{{ entities.posUtilizado }}</td>
                <td>{{ entities.posDosis }}</td>
                <td>{{ entities.posTiempo }}</td>
                <td>{{ entities.posPosologia }}</td>
                <td>{{ entities.posRespuesta }}</td>
                <td>{{ entities.noposNota }}</td>
                <td>{{ entities.noposEfectos }}</td>
            </tr>
          {% else %}
          <td colspan="12">NO hay informacion disponible.</td>
     {% endfor %}
      </tbody>
    </table> 
    
{% endblock %}
    
        