{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Editar la imagen{% endblock %}

{% block msg %}
	{% if app.session.flash('ok') %}
	    <div class="success mensajes">
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.flash('info') %}
		<div class="info">
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.flash('error') %}
		<div class="error">
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}




{% block cuerpo %}

<form action="{{ path('file_update',{'file': file.id}) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    	<legend>Datos del File</legend>		
		<div>{{ form_errors(form) }}</div>
		<div>
			{{ form_label(form.estado) }}
			{{ form_errors(form.estado) }}
			{{ form_widget(form.estado) }}
		</div>
		<div>
			{{ form_label(form.img, 'Modificar Foto.') }}
			{{ form_errors(form.img) }}
			
			<img id="imagen" src="{{ asset('uploads/documents/'~file.img) }}" 
				style="width: 200px;
			    height: 200px;
			    position: relative;    
			    border-radius: 10px;
			    -webkit-box-shadow: 10px 10px 5px rgb(204, 192, 192);
			    -moz-box-shadow: 10px 10px 5px rgb(204, 192, 192);
			    -o-box-shadow: 10px 10px 5px rgb(204, 192, 192);
			"/>			
			{{ form_widget(form.img) }}
		</div>
		<div>{{ form_rest(form) }}</div>
    </fieldset>
    
    <button class="action blue" type="submit">
        <span class="label">Modificar</span>
    </button>    
    <a href="{{ path('file_new', {'estetica': file.hcEstetica.id}) }}" class="button left"><span class="label">Subir nueva</span></a>
    <a href="{{ path('HcEstetica_edit', {'hc': hc.id}) }}" class="button left"><span class="label">Detalle H-Estetica</span></a>
</form>
{% endblock %}
