{% extends "HcBundle::ajax.layout.html.twig" %}

{% block cuerpo %}
    <table id="table_overlay">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Sistole</th>
                <th>Diastole</th>
                <th>Frec/Card</th>
                <th>Frec/Respir</th>
                <th>Peso</th>
                <th>Estatura</th>
                <th>Hiper/Arte</th>                                               
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.fecha|date('Y-m-d') }}</td>
                <td>{{ entity.sistole }}</td>
                <td>{{ entity.diastole }}</td>
                <td>{{ entity.fC }}</td>
                <td>{{ entity.fR }}</td>
                <td>{{ entity.peso }}</td>
                <td>{{ entity.estatura }}</td>
                <td>{{ entity.hta }}</td>
            </tr>
        {% endfor %}        
        </tbody>
    </table>  
   
{% endblock %}
